<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>RemBG</title>
    <link rel="stylesheet" type="text/css" href="/templates/assets/css/main.css">
    <link rel="stylesheet" href="http://www.htmlbook.ru/main.css">
    <link rel="icon" href="templates/assets/images/icon2.png">
</head>
<body>
    <div class="parent">
        <div class="child">
        <form class="forma" id="upload-form" method="post" enctype="multipart/form-data" target="_blank">
                <label for="fileToUpload" class="browse">RemBG</label>
                <input type="file" name="file" id="fileToUpload" style="display:none;">
                <input type="submit" value="UPLOAD" name="submit" id = "fileToUpload" style="display:none;">
        </form>
        </div>
    </div>
                <script>
                    function processFile(file) {
                        var form = document.getElementById('upload-form');
                        var formData = new FormData(form);
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/process');
                        xhr.responseType = 'blob';
                        xhr.onload = function() {
                            var blob = xhr.response;
                            var newWindow = window.open(URL.createObjectURL(blob), '_blank');
                            newWindow.focus();
                        };
                        xhr.send(formData);
                    }
                    var fileInput = document.querySelector('input[name="file"]');
                    fileInput.addEventListener('change', function(e) {
                        var file = e.target.files[0];
                        processFile(file);
                    });
                </script>
</body>
</html>
